.button {
  cursor: pointer;
  font-size: 3rem;
  color: #fff;
  padding-left: .9rem;
  padding-right: .9rem;
  background-color: #00ff86;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #333;
  display: block;
  margin: auto;
}

.button--delete {
  background: #ff596b;
  margin: 0;
  display: inline;
}