.container {
  background-color: white;
  max-width: 65rem;
  margin: auto;
  -webkit-box-shadow: 5px 5px 30px 0px rgba(68,68,68,1);
  -moz-box-shadow: 5px 5px 30px 0px rgba(68,68,68,1);
  box-shadow: 5px 5px 30px 0px rgba(68,68,68,1);
  padding: 5rem;
}