.header {
  text-align: center;
}

.header__logo {
  width: 10rem;
}

.header__title {
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 6rem;
}